.containter {
  background-image: -moz-element();
}

.a {
  align-items: center;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.entry {
  width: 8cm;
  background-color: lightcyan;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 0.2cm;
}

.textarea:hover {
  background-color: whitesmoke;
  transition-duration: 2s;
}

.c {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.b {
  position: center;
  color: rgb(0, 0, 0);
  font-size: 0.5cm;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightblue;
  width: 3cm;
  height: 0.8cm;
  border-radius: 0.2cm;
}

.b:hover {
  background-color: cadetblue;
  transition-duration: 2s;
}

.d {
  align-items: right;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.e {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Barbuttonsss{
  margin-left: 83%;
}

.backbox{
  height: 100%;
  width: 70%;
  background-color: aliceblue;
  margin-left: 15%;
  margin-top: 5%;
}